<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
    <link rel="stylesheet" href="/static/my_app.css">
 
</head>
<body>
    <h1>Generate a Madlib Story</h1>
    {% block error %}
    {% endblock %}
    {% block content %}
    <form action="/story">
            {% for word in words %}
            {{word}}<input type="text" name={{word}}><br>
            {% endfor%}
            <button>Submit</button>
    </form>
    <div>
        <h4>{{text}}</h4>
    </div>
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="/static/app.js"></script>
</html>