<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
    <link rel="stylesheet" href="/static/my_app.css">
 
</head>
<body>
    <h1>Generate a Madlib Story</h1>
    {% block content %}
    <form action="/story">
            {% for word in words %}
            {{word}}<input type="text" name={{word}}><br>
            {% endfor%}
            <button>Submit</button>
    </form>
    {% endblock %}
</body>
</html>